<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <SplunkHttpEventCollector name="splunkhttp"
                                  index="order_api_dev"
                                  host="nocng.id.vn"
                                  url="http://nocng.id.vn:9999"
                                  scheme="https"
                                  messageFormat="text"
                                  sourceType="log4j"
                                  type="raw"
                                  source="http-event-logs"
                                  token="2f419549-21c3-4c30-bab2-e90fe95bbafc">
            <HttpEventFormatter class="com.splunk.logging.HttpEventFormatter" />
        </SplunkHttpEventCollector>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="splunkhttp" />
        </Root>
    </Loggers>
</Configuration>
