<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Load Spring profile into a usable property -->
    <springProperty scope="context" name="springProfile" source="spring.profiles.active" defaultValue="default"/>

    <!-- Include default Spring Boot logback configuration (optional) -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Logstash appender -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST:-192.168.1.112:5600}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <context/>
                <mdc/>
                <logstashMarkers/>
                <pattern>
                    <pattern>
                        {
                        "appName": "blogs-technology-dev",
                        "serviceName": "blogs-technology-${springProfile}",
                        "env": "${springProfile}"
                        }
                    </pattern>
                </pattern>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>